<!DOCTYPE html>
<html>
<head>
    <title>FarmDirect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>🌾 FarmDirect</h1>
    <p>Direct Farmer-to-Buyer Marketplace</p>
</header>

<div class="container">

    <h2>Welcome to FarmDirect</h2>

    <p>
        Connect farmers directly with buyers and reduce unnecessary
        intermediaries.
    </p>

    <div class="buttons">

        <a href="/farmer">
            <button>👨‍🌾 Farmer</button>
        </a>

        <a href="/buyer">
            <button>🛒 Buyer</button>
        </a>

    </div>

</div>

</body>
</html>